.movie-card {
  border: 2px solid red;
  width: 33%;
  background-color: #555555;
  margin: 20px 10px 20px 10px;
  border-radius: 25px;

}

.movie-card:hover {
  background-color: #555555;
  border: 2px solid #47FD35;
  cursor: pointer;

}

.title-card {
  display: block;
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
  margin: 10px 10px 10px 10px;
}

.release-date-card {
  font-size: 14px;
}

.movie-image {
  height: 400px;
  width: 80%;
}

.header-container {
  background-color: #555555;
  height: 200px;
}

.fav-button {
  margin-top: 10px;
  height: 20px;
  width: 120px;
  background-color: red;
  border-radius: 25px;
  cursor: pointer;
}

.fav-button:hover {
  background-color: #47FD35;
}

@media only screen and (max-width: 900px) {
      .movie-card {
          width: 60%;
      }
    }

@media only screen and (max-width: 600px) {
          .movie-card {
              width: 80%;
          }
        }
